[Unit]
Description=lcd show service

[Service]
ExecStart=/usr/bin/python3 /home/ubuntu/minipupper_ros_bsp/mangdang/LCD/run_lcd_service.py
KillSignal=2
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
